<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Toduni", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Users",   '/users/sign_up' %></li>
        <li><%= link_to "Proyectos",   '/proyectos/new' %></li>
      </ul>
    </nav>
  </div>
</header>